#root {
  height: 100vh;
}

.header {
  float: left;
  width: 20%;
  height: 100%;
}

.header li {
  height: 30px;
}

.footer {
  float: left;
}

.footer button {
  margin-right: 5px;
}

.body {
  padding-top: 20px;
  width: 70%;
}

.desc-container {
  padding-top: 20px;
}
